/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: white; }
a:visited { color: white; }
a:hover { color: white; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; float: right; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body{ font:16px/26px 'Nixie One', Helvetica, 'Arial Narrow'; }

.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
    ALL: Blue Theme
   ===================
 */

#header-container{ border-bottom: 20px solid #166582; }
#footer-container{ border-top:    20px solid #166582; }
#main aside      { border-top:    20px solid #166582; }

#header-container,
#footer-container,
#main aside{
	background:#2699b4;
}

#title{ color:white; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection      { background: #333; color: #fff; text-shadow: none; }


/* ==============
    MOBILE: Menu
   ============== */

nav a{
	display:block;
	margin-bottom:10px;
	padding:15px 0;

	background:#e44d26;
	color:white;

	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}

article a {
    color: gray;
    display: inline;
    text-decoration:none;
    margin-left: 1cm;
}
article a:visited { color: white; }
article a:hover { color: black; }
article a:focus { outline: thin dotted; }
article a:hover,article  a:active { outline: 0; }


/* ==============
    MOBILE: Main
   ============== */

#main{
	padding:30px 0;
}

#main aside{
	color:white;
	padding:1% 4% 10px;
}

#footer-container footer{
	color:white;
	padding: 0.4em;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

/* Magic */

*{
  -webkit-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
}


h1{
    font-family: 'Erica One', serif;
    font-size: 3.1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
    margin-top: 5%;
    margin-bottom: 5%;
}

p{
    display: inline-block;
}

article span{
    color: #dd3333;
    vertical-align: super;
}

article span:before{
    content: " -";
}

article span:after{
    content: "- ";
}

aside a:not([class]){
    text-decoration: none;
    border-bottom: 1px dotted white;
}

aside a:not([class]):hover{
    background: #333;
    border: none;
}

a.more{
    text-decoration: none;
    font-size: 60%;
    vertical-align: super;
    margin-left: 6px;
}

a.more:after{
    content: "]";
}

a.more:hover{
    font-weight: bold;
}

a.more:hover:after{
    content: "Read More.]";
}

/* Toggle Mobile */
.no-mobile{
    display: none;
}

.mobile{
    display: inline;
}

/* Hide IFrames */
iframe{
    display: none;
    height: 0;
    width: 0;
}


/* Form Styling */
input[type=text]{
    display: block;
    width: 90%;
    text-align: center;
    margin: auto;
    border: none;
    border-bottom: 5px solid #333333;
    vertical-align: middle;
    font: 2.8em 'Nixie One', Helvetice, 'Arial Narrow';
    padding: 0.1em;
}

textarea{
    display: block;
    width: 90%;
    height: 4em;
    text-align: center;
    margin: auto;
    border: none;
    border-bottom: 5px solid #333333;
    font: 2.8em 'Nixie One', Helvetice, 'Arial Narrow';
    overflow: auto;
    vertical-align: middle;
}

label{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
}

input[type=submit]{
    width: 8em;
    border: none;
    padding: 8px;
    margin-right: 2em;
    margin-bottom: 2em;
    font-family: 'Erica One', serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: #222;
    color: #eee;
    text-transform: lowercase;
}

input[type=submit]:hover{
    background-color: #ddd;
    color: #333;
        -webkit-box-shadow:0 5px 10px #333;
		   -moz-box-shadow:0 5px 10px #333;
		        box-shadow:0 5px 10px #333;
}

input[type=submit]:active{
    background-color: #55ee11;
    color: #333;
    -webkit-box-shadow:0 5px 10px #333;
		   -moz-box-shadow:0 5px 10px #333;
		        box-shadow:0 5px 10px #333;
}

input[type=text]:hover{
    background: #eeeeaa;
    text-align: left;
    color: #666;
}

input[type=text]:focus{
    background: #ffffff;
    text-align: left;
    border-top: 1px solid #ffff11;
    color: #333;
    -webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
}

textarea:hover{
    background: #eeeeaa;
    text-align: left;
    color: #666;
}
textarea:focus{
    background: #ffffff;
    text-align: left;
    border-top: 1px solid #ffff11;
    color: #333;
    -webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	nav a{
		float:left;
		width:27%;
		margin:0 1.7%;
		padding:25px 2%;
		margin-bottom:0;
	}

	article{
	    padding-bottom: 8em;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    
	nav ul li{
		display:inline;
	}	
	.oldie nav a{
		margin:0 0.7%;		
	}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: Author Styles
   ==================== */

	article{
	    padding-bottom: 8em;
	}
	

    .no-mobile{
        display: inline;
    }

    .mobile{
        display: none;
    }

    /* Floating footer
    */
    #footer-container{
        display: block;
        position: fixed;
        width:100%;
        bottom: 0px;
    }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	#header-container,
	#main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}

/* ============
    WIDE: Menu
   ============ */
	
	#title{
		float:left;
	}

	nav{
		float:right;
		width:38%;
	}

/* ============
    WIDE: Main
   ============ */

	#main article{
		float:center;
		width:57%;
	}

		
	#main aside{
		float:right;
		width:28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
	article{
	    padding-bottom: 8em;
	}
	
	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
